<div *ngIf="isHomeRoute()" class="w3-container w3-dark-grey">
 <div class="w3-right">
<form [formGroup]="loginForm" (ngSubmit)="signInUser()">
  <label for="first-name">Email: </label>
  <input class="w3-round" id="first-name" type="text" formControlName="email">

  <label for="last-name">Password: </label>
  <input class="w3-round" id="last-name" type="password" formControlName="password">

  <button class="w3-button w3-purple   w3-margin-left" type="submit" [disabled]="!loginForm.valid">SignIn</button>
 </form>
   </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
 

 
 

